.Rproj.user
.Rhistory
.RData
.Ruserdata
*.png
*.pdf
*.html
logs.csv
analyse_logs.Rmd
combined_template.csv
README.Rmd
logs_080119.csv
Call on EVD chains of transmission.docx
logs_121218.csv
logs_230119.csv
